body, html {
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}

body {
	background: rgb(204, 255, 153);
}

button {
	border-radius: 6px;
	margin: 0 10px;
}

h1 {
	font-size: 2.5rem;
	margin: 25px 0;
}

h5 {
	font-size: 1.25rem;
	margin: 10px 0;
}

header {
	position: fixed;
	top: 0;
    right: 0;
    left: 0;
    background: silver;
    z-index: 2;
}

input {
	border-radius: 5px;
	margin: 0 10px;
}

/*header::after {
    content: "";
    clear: both;
    display: table;
}*/

main {
	position: relative;
	top: 250px;
}

.animated-gif {
	border: 1px solid silver;
	border-radius: 8px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.giffy-search-button {
	
}

.italics-on-hover:hover {
	font-style: italic;
}

.toggleable-animation-div {
	margin-bottom: 20px;
}

#search-buttons-area {
}

@media (max-width: 967px) { /* Smaller screens */
	body {
		
	}
	a, .gif-caption {
		font-size: .8rem;
	}
}

@media (min-width: 968px) {
	body {
		
	}
	a, .gif-caption {
		font-size: 1rem;
	}
}